body {
    background-color: #ffeedd;
}

/* All project block */
.project-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
}

/* Post Css */
.bodycontsection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(218, 218, 218);
    padding: 0%;
    border-radius: 15px;
    margin: 10px 0;
    color: white;
    width: 500px;
}

.make-it-slow {
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
}

.make-it-slow:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.sectiondetail {
    padding: 10px 20px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: small;
}

.detailhiddenhalf {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 18px;
    max-height: 54px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.sectionname {
    width: 20%;
    float: left;
    background-color: white;
    color: darkslategray;
    border-radius: 15px 0px 0px 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    padding: 30px 10px;
}


@media (max-width: 400px) {
    .project-card {
        width: 45%;
    }
}

.add-board-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.board-block {
    margin-top: 3%;
    display: none;
}

/*

            <!-- post 2 starts here -->
            <div>
                <div>
                    <p>Colby Fayock</p>
                </div>

                <div>
                    <div>
                        <p>What is linting and how can it save you time?</p>
                        <span>
                            <!-- TODO: Include Font Awesome icon for delete icon here -->
                        </span>
                    </div>
                    <p>One of the biggest challenges in software development is time. It’s something we can’t easily get
                        more of, but linting can help us make the most out of the time we have.</p>
                    <span>
                        <!-- TODO: Include Font Awesome icon for horizontal ellipsis icon here -->
                    </span>
                </div>
            </div>
            <!-- post 2 ends here -->

            <!-- post 3 starts here -->
            <div>
                <div>
                    <p>Yazeed Bzadough</p>
                </div>

                <div>
                    <div>
                        <p>How to Get More Views on Your Tech Blog</p>
                        <span>
                            <!-- TODO: Include Font Awesome icon for delete icon here -->
                        </span>
                    </div>
                    <p>If you're a developer with a Twitter account, you've already seen everyone and their cat start a
                        blog, YouTube channel, or Patreon. We all want to become stars, or at the very least, a
                        recognizable
                        name in the industry.</p>
                    <span>
                        <!-- TODO: Include Font Awesome icon for horizontal ellipsis icon here -->
                    </span>
                </div>
            </div>
            <!-- post 3 ends here -->

            <!-- post 4 starts here -->
            <div>
                <div>
                    <p>Cedd Burge</p>
                </div>

                <div>
                    <div>
                        <p>How to write easily describable code</p>
                        <span>
                            <!-- TODO: Include Font Awesome icon for delete icon here -->
                        </span>
                    </div>
                    <p>When code is not describable using words, most people have to do some mental mapping to turn it
                        in to
                        words. This wastes mental energy, and you run the risk of getting the mapping wrong. Different
                        people will map to different words, which
                        leads to confusion when discussing the code.</p>
                    <span>
                        <!-- TODO: Include Font Awesome icon for horizontal ellipsis icon here -->
                    </span>
                </div>
            </div>
            <!-- post 4 ends here -->

            <!-- post 5 starts here -->
            <div>
                <div>
                    <p>Srishti Gupta</p>
                </div>

                <div>
                    <div>
                        <p>Everything you should know about ‘module’ & ‘require’ in Node.js</p>
                        <span>
                            <!-- TODO: Include Font Awesome icon for delete icon here -->
                        </span>
                    </div>
                    <p>Node.js treats each JavaScript file as a separate module. For instance, if you have a file
                        containing
                        some code and this file is named xyz.js, then this file is treated as a module in Node, and you
                        can
                        say that you’ve created a module
                        named xyz.</p>
                    <span>
                        <!-- TODO: Include Font Awesome icon for horizontal ellipsis icon here -->
                    </span>
                </div>
            </div>
            <!-- post 5 ends here -->

*/